<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Hotel Rooms</title>
</head>
<body>
    <table>
        <tr>
            <th>Employee ID</th>
            <th>Last Name</th>
            <th>First Name</th>
            <th>Position</th>
        </tr>
        <tr th:each="employee:${employees}">
            <td th:text="${employee.guid}">Number</td>
            <td th:text="${employee.lastName}">Name</td>
            <td th:text="${employee.firstName}">Info</td>
            <td th:text="${employee.position}">Info</td>
        </tr>
    </table>
</body>
</html>